.menu {
  width: 224px;
}

.menu-wrapper {
  padding-bottom: 8px;
}

.menu-item {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  font-weight: 500;
  margin-left: 0 !important;

  &:hover {
    background-color: rgba(22, 24, 35, 0.03);
  }
}